@font-face {
    font-family: "Just Another Hand";
    src: url("./JustAnotherHand-Regular.woff");
}

body {
    margin: 0px;
    display: grid;
    grid-template-rows: 80px 1fr;
    background-color: #dc6b29;
    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 2px 2px 0px grey;
    z-index: 1;
}

.logo {
    order: -2;
    justify-self: start;
    width: 80px;
    color: #b61500;
}

h1 {
    grid-column: 2/3;
    margin: 0px;
    padding: 0px;
    font-family: "Just Another Hand";
    font-size: 3em;
    margin-top: 10px;
    transform: scale(2, 1);
    color: #b61500;
}

nav {
    justify-self: end;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    padding-right: 20px;
    gap: 50px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.2em;
    font-family: "Just Another Hand";
    transform: scale(2, 1);
    width: 50px;
}

.nav-btn:hover:enabled {
    transform: scale(2.1, 1.1);
}

.nav-btn:disabled {
    cursor: default;
}

#content {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    background-color: #ffac0e;
    background-position: center;

}

.main-content {
    grid-column: 2/3;
    background-color: rgba(251, 174, 137, 0.74);
    padding: 20px;
    box-shadow: 2px 0 3px -1px lightgrey, -2px 0 3px -1px lightgrey;
}

.home-content {
    display: grid;
    gap: 16px;
    grid-template-rows: 1fr 3fr;
}

.mission-statement {
    justify-self: center;
    font-style: italic;
    font-size: 1.1em;
    align-self: center;
}

.special-div {
    display: grid;
    gap: 8px;
}

.specials-title {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 1.3em;
}

.special {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
}

.special-title {
    font-weight: bold;
    grid-column: 1/2;
    font-size: 1.1em;
}

.special-desc {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: flex-start;
}

.special-price {
    grid-column: 2/3;
    justify-self: flex-end;
}

.section {
    display: grid;
    grid-template-rows: 30px repeat(1fr);
    gap: 4px;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 2px;
}

.item-name {
    grid-row: 1/2;
    font-weight: bold;
}

.item-desc {
    grid-row: 2/3;
    grid-column: 1/3;
}

.item-price {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
}

.about-content {
    display: grid;
    gap: 4px;
}

.locations {
    display: grid;
}

.location {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 20px 20px 50px 200px;
}

.location-name {
    font-weight: bold;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    font-size: 1.3em;
}

.address {
    grid-column: 2/3;
    justify-self: flex-end;
}

.loc-image {
    grid-column: 2/3;
    grid-row: 3/6;
    width: 250px;
    justify-self: flex-end;
}

.phone-numner {
    grid-column: 1/2;
    grid-row: 2/3;
}

.email {
    grid-column: 1/2;
    grid-row: 3/4;
}
.trading {
    grid-column: 1/2;
    grid-row: 4/6;
}
.trading-day {
    display: grid;
    gap: 2px;
    grid-template-columns: 75px 1fr;
}

.about-statement {
    white-space: pre-wrap;
}